<header>
    <h1 style="color: #F1E3C8;">IMPR3SSIO</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/upload">Upload</a>
      <a href="/cart">Cart</a>
      <a href="/profile">Profile</a>
      <% if (user) { %>
        <a href="/logout"></a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
    </nav>
  </header>