body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1E3C8;
    color: #672714;
  }
  header {
    background-color: #672714;
    color: #F1E3C8;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #672714;
    padding: 10px;
  }
  
  nav a {
    color: #F1E3C8;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #4a1c0e; /* Darker shade for hover effect */
  }
  
  
  .container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #672714;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F1E3C8;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .table th, .table td {
    padding: 12px;
    border-bottom: 1px solid #672714;
    text-align: center;
  }
  
  .table th {
    background-color: #672714;
    color: #F1E3C8;
  }
  
  .table tr:nth-child(even) {
    background-color: #E2C9A0;
  }
  
  .table tr:hover {
    background-color: #D4B080;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  footer {
    background-color: #672714;
    color: #F1E3C8;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Button Styles */
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #672714;
    color: #F1E3C8;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #4a1c0e; }